.card{
    border: 4px solid black;
    width: 200px;
    padding: 20px 20px 0px 20px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

.card > img{
    /* border: 1px solid red; */
    height: 180px;
}

.card > p{
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
    background-color: goldenrod;
    border: 4px solid black;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
}

.teamContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid red; */
}

.teamContainer > div{
    margin: 20px 20px;
}

body{
    background-color: cadetblue;
}

.scores{
    background-color: rgb(177, 177, 177);
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
}

.scores > p{
    border: 3px solid black;
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    text-align: center;
    padding: 15px 0;
}
